version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile_backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
    networks:
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile_frontend
    container_name: frontend
    restart: always
    ports:
      - "4200:4200"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - backend
    networks:
      - backend

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
